@model MeetingOrganizer.Models.tbl_Meetings

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Bu toplantıyı silme istediğinize emin misiniz?</h3>
<fieldset>
    <legend>Toplantı</legend>
    
    <div class="display-label">
        Toplantı Konusu
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic)
    </div>

    <div class="display-label">
        Toplantı Tarihi
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        Başlama Saati
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">
        Bitiş Saati
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">
        Katılımcılar
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_Participants.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
